/* Estilos básicos del cuerpo de la página */
body {
    font-family: 'Inter', sans-serif;
    background-image: url('assets/faro_bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #000000;
}

/* Contenedor principal para centrar elementos en la página */
.contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 52.5%;
    margin: auto;
    width: 100%;
}

/* Estilo para el logo en la parte superior de la página */
.logo {
    width: 6.5vw;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-top: 3vh;
}

/* Estilo para el título principal de la página */
h1 {
    font-size: 1.125em;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 1em;
    text-align: center;
    font-weight: normal;
}

/* Estilo para los íconos de compartir */
.contenedor-icono {
    display: flex;
    justify-content: center;
    gap: 2vw;
    width: 5%;
    margin: auto;
    margin-bottom: 5vh;
}

/* Estilo para imágenes de los íconos de compartir */
.contenedor-icono img {
    width: 2vw;
    height: auto;
    object-fit: contain;
}

/* Estilos para los botones de compartir y su contenedor */
.contenedor-botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Estilos para los botones de compartir */
.boton {
    background-color: #ffcd62;
    border-radius: 50px;
    width: 86.5%;
    padding: 0.75vw;
    margin-bottom: 2vh;
    text-decoration: none;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

/* Estilos para los botones de compartir al desplazar el cursor */
.boton:hover {
    transform: scale(1.05);
}

/* Estilos para imágenes dentro de los botones */
.boton img {
    order: -1;
    margin-right: auto;
    margin-left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* Título de elementos dentro de los botones para alinear texto */
.titulo-item {
    text-align: center;
    color: #000000;
    font-family: 'Inter', sans-serif;
    flex-grow: 1;
}

/* Estilos para el modal de compartir */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.4);
}

/* Estilos para el contenido del modal de compartir */
.contenido-modal {
    background-color: #f4f4f4;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    position: relative;
}

/* Estilos para el botón para cerrar el modal */
.cerrar-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Estilos para ??? */
.cerrar-modal:hover,
.cerrar-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}